node_modules
.env
tasks/scripts/parameters.prod.ts
allocations.csv

coverage
coverage.json

#Buidler files
cache
artifacts

typechain
yarn-error.log

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session
bin

*.flat.sol
