node_modules

coverage
coverage.json

# Hardhat
cache
artifacts

# Typechain
typechain-types

yarn-error.log

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session

contracts/hardhat-dependency-compiler

bin

.env
*.flat.sol
tasks/scripts/parameters.prod.ts
allocations.csv

*.ignored*

# Crytic
crytic-export

# Certora
.certora_internal
.certora_recent_jobs.json

# fast-check
replay.cjs
