node_modules

coverage
coverage.json

# Hardhat
cache
artifacts

# Typechain
typechain

yarn-error.log

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/unknown-*.json
.openzeppelin/.session

contracts/hardhat-dependency-compiler

bin

.env
*.flat.sol
tasks/scripts/parameters.prod.ts
allocations.csv
