[submodule "libs/bn"]
	path = libs/bn
	url = https://github.com/zenbox-org/bn.git
[submodule "libs/utils"]
	path = libs/utils
	url = https://github.com/zenbox-org/utils.git
[submodule "libs/divide-and-conquer"]
	path = libs/divide-and-conquer
	url = https://github.com/zenbox-org/divide-and-conquer.git
[submodule "libs/ethereum"]
	path = libs/ethereum
	url = https://github.com/zenbox-org/ethereum.git
[submodule "libs/fairpool"]
	path = libs/fairpool
	url = https://github.com/zenbox-org/fairpool.git
